{% extends "base.html" %}
{% block content %}



<div style="position:fixed;z-index:100;top:0;background: rgba(255, 255, 255, .8);margin:auto; padding-right: 30px; padding-left:30px; padding-top:15px;padding-bottom:15px; margin:20px;">
        <h2 class="display-4">{{session.portfo_title}}: admin</h2>
   </div>

   <p style="height:60px;"></p>

   <div style="padding: 50px;">
   <a href="/">Home</a>
   <a href="{{ url_for('logout') }}">Logout</a>

   <p style="height:60px;"></p>
   

   <div class="alert alert-danger" role="alert">
        Theres alot of fluff on this page that doesnt work. All core functionality should work - including, changing and toggling site headers and uploading images. <br>
        Most inputs around the metadata of images are not implemented.
      </div>
      <p style="height:30px;"></p>
   <h1 class="display-6">
        Global Settings
   </h1>
   <br>

  <div class="card">
    <div class="card-body">
   <form action="/admin/edit/folio/1" method='POST'>
    <div style="display: inline-block">
Title: <br>
<input type=text name="folio_title" placeholder="{{session.portfo_title}}">&emsp;&emsp;

<input type="checkbox" class="form-check-input" name="folio_title_enable" value="True" id="exampleCheck1">
<label class="form-check-label" for="exampleCheck1">Enable Site Title?</label>

</div>
<br>
<br>
<div style="display: inline-block">
Caption: <br>
<input type=text name="folio_caption" placeholder="{{session.portfo_caption}}">&emsp;&emsp;
<input type="checkbox" class="form-check-input" name="folio_caption_enable" value="True" id="exampleCheck1">
<label class="form-check-label" for="exampleCheck1">Enable Site Caption?</label>
<br>
<br>


<div class="alert alert-info" role="alert">
    <strong>note:</strong> html can, and should be used in the caption field.<br>
To have multiple lines use '&lt;br&gt;' without quotes, which will put the following text on a new line.<br>
Bold can be achieved by surrounding the text with '&lt;strong&gt;some text&lt;/strong&gt;', again without quotes.
  </div>


<br>
<br>

<button type=submit>update</button>
</div>
</form>

</div>
</div>
<p style="height:30px;"></p>
<h1 class="display-6">
    Upload Images
</h1>
<br>

<hr>

   <div class="card">
    <div class="card-body">

            <div class="alert alert-info" role="alert">
                    <strong>note:</strong> There are two stages to uploading images. The first is... uploading an image. Once that is done, the image will appear in the Private Images section of the admin page. For the image to be visiable to the world, you must select the 'Yes' checkbox under the header 'Do you want to make this image private?'.
                  </div>

        <form action="/upload" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.photo(multiple="multiple") }}
            {{ form.submit }}
        </form>
    </div>
  </div>


  <p style="height:30px;"></p>


<hr>
<p style="height:30px;"></p>
<div style="display:flex;">


        <div style="width:50%;">
                <h2 class="display-4">Private Images</h2>
  <br>
{% for id, data in images.items() %}
{% if data.private == True %}

<div style="display:flex; background-color:rgba(0, 0, 0, .1); margin-right:20px;border-radius: 25px;overflow:hidden;">
  
  <div>
    <img style="width:300px;height:auto;" src="/static/uploads/{{data.filename}}">
</div>

<div style="padding-left: 15px;">
    <form action="/admin/edit/{{data.id}}" method='POST'>
        Make this image public?<br>
        <input type="radio" id="privChoice1"
         name="image_private" value="False">
        <label for="privChoice1">Yes</label>
    
        <input type="radio" id="privChoice2"
         name="image_private" value="True">
        <label for="privChoice2">No</label>
        <br>
    image name <br>
    <input type=text name="image_name" placeholder="{{data.name}}"><br>
    pub date<br>
    <input type=text name="image_date" placeholder="{{data.date}}"><br>
    caption<br>
    <input type=text name="image_caption" placeholder="{{data.caption}}"><br>
    featured: {{data.featured}}<br>
    <input type="radio" id="favChoice1"name="image_featured" value="False">
    <label for="favChoice1">No</label>

    <input type="radio" id="favChoice2" name="image_featured" value="True">
    <label for="favChoice2">Yes</label>
    <br>

    <button type="submit">Update</button> | <button name=delete_image value='True'>Delete</button>
    
</form>
</div>
</div>
<br>

{% endif %}
{% endfor %}
</div>

<div style="width:50%;">
        <h2 class="display-4">Public Images</h2>
    <br>
        {% for id, data in images.items() %}
        {% if data.private == False %}
        
        <div style="display:flex; background-color:rgba(0, 0, 0, .1); margin-right:20px;border-radius: 25px;overflow:hidden;">
  
            <div>
              <img style="width:300px;height:auto;" src="/static/uploads/{{data.filename}}">
          </div>
          
          <div style="padding-left: 15px;">
              <form action="/admin/edit/{{data.id}}" method='POST'>
                  Make this image public?<br>
                  <input type="radio" id="privChoice1"
                   name="image_private" value="False">
                  <label for="privChoice1">Yes</label>
              
                  <input type="radio" id="privChoice2"
                   name="image_private" value="True">
                  <label for="privChoice2">No</label>
                  <br>
              image name <br>
              <input type=text name="image_name" placeholder="{{data.name}}"><br>
              pub date<br>
              <input type=text name="image_date" placeholder="{{data.date}}"><br>
              caption<br>
              <input type=text name="image_caption" placeholder="{{data.caption}}"><br>
              featured: {{data.featured}}<br>
              <input type="radio" id="favChoice1"name="image_featured" value="False">
              <label for="favChoice1">No</label>
          
              <input type="radio" id="favChoice2" name="image_featured" value="True">
              <label for="favChoice2">Yes</label>
              <br>
          
              <button type="submit">Update</button> | <button name=delete_image value='True'>Delete</button>
              
          </form>
          </div>
          </div>
        
        <br>
        
        {% endif %}
        {% endfor %}
        </div>




</div>












</div>

</div>
{% endblock %}