{% extends "base.html" %}
{% block content %}

{% include 'header.html' %}

{% if images|length < 1 %}
<p style="height: 200px;"></p>
No Media Iploaded. Please Login to Upload Media.
{% else %}

<div class="grid">
<div class="grid-sizer"></div>

{% for id, data in images.items() %}
<div class="grid-item">

  

    <div class="popup" onclick="myFunction('{{data.filename}}')">
        <a class="lightbox" href="#">
        <img src="static/uploads/{{data.filename}}"/>
      </a>
    
    
        <span class="popuptext" id="{{data.filename}}">

            <div style="display: inline-block;position: relative;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%)">

                <img src="static/uploads/{{data.filename}}"/>
          </div>



        </span>
    
    
    
      </div>





</div>

{% endfor %}

</div>

<hr>

{% endif %}




  



{% endblock %}